# cSpell:disable
[user]
	name = folsterA
	email = folsteraustin@gmail.com

[core]
    editor = code
    autocrlf = input
    attributesFile = ~/.gitattributes

[color]
    ui = auto

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[push]
	autoSetupRemote = true

[pull]
    rebase = true

[init]
    defaultBranch = main
